<link rel="stylesheet" href="/stylesheets/forum.css">
<main style="margin-top: 71px;">
    <section class="doc_blog_grid_area sec_pad forum-page-content">
        <div class="container">
            <div class="row"
                style="height: 200px; background: url('https://html-template.spider-themes.net/docy/img/banner-bg.png'); background-position:bottom;background-repeat: no-repeat;">

            </div>
            <div class="row mt-4">
                <div class="col-lg-9">
                    <div class="answer-action shadow">
                        <div class="action-content">
                            <div class="image-wrap">
                                <img src="https://html-template.spider-themes.net/docy/img/home_support/answer.png"
                                    alt="answer action">
                            </div>
                            <div class="content">
                                <h2 class="ans-title">Bạn không tim thấy câu trả lời?</h2>
                                <p> Hãy để người khác giúp đở bạn để có được câu trả lời </p>
                            </div>
                        </div>
                        <!-- /.action-content -->
                        <div class="action-button-container">
                            <a href="#" class="action_btn btn-ans">Đặt câu hỏi</a>
                        </div>
                        <!-- /.action-button-container -->
                    </div>
                    <!-- /.answer-action -->

                    <div class="post-header forums-header">
                        <div class="col-md-6 col-sm-6 support-info">
                            <span> Forum </span>
                        </div>
                        <!-- /.support-info -->
                        <div class="col-md-6 col-sm-6 support-category-menus">
                            <ul class="forum-titles">
                                <li class="forum-topic-count">Lượt xem</li>
                                <li class="forum-reply-count">Câu trả lời</li>
                                <li class="forum-freshness">Thông tin bài đăng</li>
                            </ul>
                        </div>
                        <!-- /.support-category-menus -->
                    </div>
                    <!-- /.post-header -->

                    <div class="community-posts-wrapper bb-radius">

                        <!-- Forum Item -->
                        <div class="community-post style-two forum-item bug">
                            <div class="col-md-6 post-content">
                                {{!-- <div class="author-avatar forum-icon">
                                    <img src="img/home_support/rc1.png" alt="community post">
                                </div> --}}
                                <div class="entry-content">
                                    <a href="forum-topics.html">
                                        <h3 class="post-title"> Cách đăng trò chơi lên Website </h3>
                                    </a>
                                    <p>Hướng dẫn đăng tải trò chơi lên Website</p>
                                </div>
                            </div>
                            <div class="col-md-6 post-meta-wrapper">
                                <ul class="forum-titles">
                                    <li class="forum-topic-count">200</li>
                                    <li class="forum-reply-count">12</li>
                                    <li class="forum-freshness">
                                        <div class="freshness-box">
                                            <div class="freshness-top">
                                                <div class="freshness-link">
                                                    <a href="#" title="Reply To: Main Forum Rules &amp; Policies">2
                                                        minute ago</a>
                                                </div>
                                            </div>
                                            <div class="freshness-btm">
                                                <a href="#" title="View Eh Jewel's profile" class="bbp-author-link">
                                                </a>
                                                <div class="freshness-name"><a href="#" title="View Eh Jewel's profile"
                                                        class="bbp-author-link">
                                                    </a><a href="#" title="View Eh Jewel's profile"
                                                        class="bbp-author-link">
                                                        <span class="bbp-author-name">Admin</span>
                                                    </a>
                                                </div>
                                                <span class="bbp-author-avatar">
                                                    <img alt="Eh Jewel"
                                                        src="https://html-template.spider-themes.net/docy/img/home_support/cp5.jpg"
                                                        class="avatar photo">
                                                </span>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.forum-item  -->



                    </div>
                    <!-- /.community-posts-wrapper -->
                </div>
                <!-- /.col-lg-9 -->

                <div class="col-lg-3">
                    <div class="forum_sidebar">
                        <div class="widget status_widget">
                            <h4 class="c_head">Information</h4>
                            <p class="status">Support is <span class="offline">Offline</span></p>

                            <div class="open-hours">
                                <h4 class="title-sm">Our office hours</h4>
                                <p>Monday - Friday / 10am - 6pm (UTC +4) NewYork</p>
                                <ul class="current-time list-unstyled">
                                    <li>
                                        <h4 class="title-sm">Your time</h4>
                                        <p>10:30:15 PM</p>
                                    </li>
                                    <li>
                                        <h4 class="title-sm">Your time</h4>
                                        <p>10:30:15 PM</p>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.open-hours -->

                        </div>

                        <div class="widget tag_widget">
                            <h4 class="c_head">Tags</h4>
                            <ul class="list-unstyled w_tag_list style-light">
                                <li><a href="#">Swagger</a></li>
                                <li><a href="#">Docy</a></li>
                                <li><a href="#">weCare</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Download</a></li>
                                <li><a href="#">Doc</a></li>
                                <li><a href="#">Product board</a></li>
                                <li><a href="#">WordPress</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">ui/ux</a></li>
                                <li><a href="#">Doc Design</a></li>
                                <li><a href="#">DocAll</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- /.col-lg-3 -->
            </div>
        </div>
    </section>
</main>