<link rel="stylesheet" href="/stylesheets/index.css">
<div style="margin-top:73px;" class="container-fluid">

    <div class="row">
        <div class="col-2 d-flex p-3 side-bar flex-column overflow-y-scroll">
            <p class="sidebar__title">Tìm kiếm</p>
            <ul class="d-flex flex-row flex-wrap row list-unstyled sidebar__list">
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi đang phát triển</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Tài nguyên trò chơi</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Bài viết nổi bật</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">link</a></li>
            </ul>

            <p class="sidebar__title">Nhãn nổi bật</p>
            <ul class="d-flex flex-row flex-wrap row list-unstyled sidebar__list">
                <li class="col-6 sidebar__list__item">
                    <a class="badge text-wrap text-bg-secondary" href="#">Kinh dị</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a class="badge text-wrap text-bg-secondary" href="#">Sinh tồn</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a class="badge text-wrap text-bg-secondary" href="#">Nông trại</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a class="badge text-wrap text-bg-secondary" href="#">Python</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a class="badge text-wrap text-bg-secondary" href="#">Unity</a></li>
            </ul>
            <p class="sidebar__title">Thể loại</p>
            <ul class="d-flex flex-row flex-wrap row list-unstyled sidebar__list">
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi đang phát triển</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Tài nguyên trò chơi</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Bài viết nổi bật</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">link</a></li>
            </ul>
            <p class="sidebar__title">Bài viết nổi bật</p>
            <ul class="d-flex flex-row flex-wrap row list-unstyled sidebar__list">
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Trò chơi đang phát triển</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Tài nguyên trò chơi</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">Bài viết nổi bật</a></li>
                <li class="col-6 sidebar__list__item ">
                    <a href="#">link</a></li>
            </ul>
        </div>
        <div class="col-10 p-0 right__content">
            <div id="" class="carousel slide col-12" data-bs-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active" data-bs-interval="4000">
                        <img src="/images/slide2.png" class="d-block w-100" height="380px" alt="...">
                    </div>
                    <!--                <div class="carousel-item " data-bs-interval="4000">-->
                    <!--                    <img src="/images/slide1.png" class="d-block w-100" alt="...">-->
                    <!--                </div>-->
                </div>
                <div class="col-12">
                    <div class="top__rate__game w-100">
                        <h4>Top game được đánh giá cao</h4>
                        <div class="w-100 d-flex overflow-x-scroll" style="background-color: red">
                            <div style="flex-basis: 400px;
                            flex-shrink: 0;
                            flex-grow: 0;
	                       "
                            >1
                            </div>
                            <div style="flex-basis: 400px;
                            flex-shrink: 0;
                            flex-grow: 0;
	                       "
                            >1
                            </div>  <div style="flex-basis: 400px;
                            flex-shrink: 0;
                            flex-grow: 0;
	                       "
                        >1
                        </div>  <div style="flex-basis: 400px;
                            flex-shrink: 0;
                            flex-grow: 0;
	                       "
                        >1
                        </div>  <div style="flex-basis: 400px;
                            flex-shrink: 0;
                            flex-grow: 0;
	                       "
                        >1
                        </div>  <div style="flex-basis: 400px;
                            flex-shrink: 0;
                            flex-grow: 0;
	                       "
                        >1
                        </div>

                        </div>
                    </div>
                    <div class="top__sale__game w-100 mt-2">
                        <h4>Top game giảm giá</h4>
                        <div class="w-100 d-flex overflow-x-scroll" style="background-color: red">
                            <div style="flex-basis: 400px;
                            flex-shrink: 0;
                            flex-grow: 0;
	                       "
                            >1
                            </div>
                            <div style="flex-basis: 400px;
                            flex-shrink: 0;
                            flex-grow: 0;
	                       "
                            >1
                            </div>  <div style="flex-basis: 400px;
                            flex-shrink: 0;
                            flex-grow: 0;
	                       "
                        >1
                        </div>  <div style="flex-basis: 400px;
                            flex-shrink: 0;
                            flex-grow: 0;
	                       "
                        >1
                        </div>  <div style="flex-basis: 400px;
                            flex-shrink: 0;
                            flex-grow: 0;
	                       "
                        >1
                        </div>  <div style="flex-basis: 400px;
                            flex-shrink: 0;
                            flex-grow: 0;
	                       "
                        >1
                        </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>