<link rel="stylesheet" href="/stylesheets/login.css">
<div class="container">
    <div class="row justify-content-center w-100">
        <div class="col-md-offset-2 col-md-8">
            <div class="form-container">
                <div class="left-content ">
                    <h3 class="title">IndieGameVN</h3>
                    <image src="/images/ghost.svg" width="100" class="ghost-icon"></image>
                    <h4 class="sub-title">Cộng đồng game Indie <br /> Việt Nam</h4>
                </div>
                <div class="right-content">
                    <h3 class="form-title">Đăng nhập</h3>
                    <p class="msg text-danger">{{msg}}</p>
                    <form class="form-horizontal" action="/auth/login/password" method="post">
                        <div class="form-group">
                            <label>Tên đăng nhập</label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <button class="btn signin" type="submit">Đăng nhập</button>

                        <a href="" class="forgot">Quên mật khẩu</a>
                    </form>
                    <span class="separator">HOẶC</span>
                    <ul class="social-links">
                        <li>
                            <a href="/oauth2/login/federated/google" class="text-decoration-none">
                                <i class="fab fa-google"></i>
                                Đăng nhập với google
                            </a>
                        </li>

                    </ul>
                    <span class="signup-link">
                        Bạn chưa có tài khoản ? Đăng ký
                        <a href="/register">ngay</a></span>
                </div>
            </div>
        </div>
    </div>
</div>