<link rel="stylesheet" href="/stylesheets/preview_project.css">
<main style="margin-top: 70px" class="container-fluid">
    <div class="card pt-4" style="margin: auto; width: 900px">
        <div class="card-header bg-body-secondary">
            Đăng tải dự án
        </div>
        <div id="editor"></div>

    </div>
</main>
<script src="https://cdn.ckeditor.com/ckeditor5/41.2.0/super-build/ckeditor.js"></script>
<script src="/javascripts/preview_project.js"></script>