<link rel="stylesheet" href="/stylesheets/upload_project.css">
<main style="margin-top: 70px" class="container">
    <div class="card pt-4" style="margin: auto; width: 900px">
        <div class="card-header bg-body-secondary">
            Đăng tải dự án
        </div>
        <div class="card-body row p-3">
            <div class="left col-4 border-end">
                <h6>Hình ảnh</h6>
                <div class="left__content pt-2">
                    <div class="mb-3 row">
                        <label for="inputCover" class="col col-form-label left__content__label">Thêm ảnh bìa
                            (250x200):</label>
                        <div class="mb-1 d-flex justify-content-center p-1">
                            <img class="selectedImage" src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
                                alt="example placeholder" style="width: 250px; height: 200px" />
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="btn btn-primary btn-sm btn-rounded cursor-pointer">
                                <label role="button" class="form-label text-white m-0 fs-14px"
                                    for="chooseCoverImage">Chọn
                                    ảnh</label>
                                <input type="file" class="form-control d-none" id="chooseCoverImage"
                                    onchange="displaySelectedCoverImage(event, '.selectedImage')" />
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="formFileMultiple" class="form-label">Thêm ảnh chụp màn hình:</label>

                        <div class="btn btn-primary btn-sm cursor-pointer rounded-1 w-25 text-nowrap m-auto">
                            <label role="button" class="form-label m-0 fs-14px" for="chooseScreenshotImages">Chọn
                                ảnh</label>
                            <input multiple type="file" class="form-control d-none" id="chooseScreenshotImages"
                                onchange="displaySelectedScreenshotImage(event)" />

                        </div>
                        <div class="mb-1 d-flex flex-column justify-content-center p-1 target-screenshot-image">
                            {{!-- <img class="" src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" alt=""
                                style="width: 250px; height: 200px" /> --}}
                        </div>

                    </div>

                </div>
            </div>
            <div class="right col-8">
                <h6>Thông tin dự án</h6>
                <div class="right__content ps-1 pt-2">
                    <form id="upload_project_form" action="/user/upload-project" method="POST"
                        enctype="multipart/form-data">
                        <div class="mb-3 row">
                            <label for="inputName" class="col-sm-2 col-form-label right__content__label">Tên dự
                                án:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control rounded-1" id="inputName" name="name">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputCategory" class="col-sm-2 col-form-label right__content__label">Phân
                                loại:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control rounded-1" id="inputCategory" name="category">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputTag" class="col-sm-2 col-form-label right__content__label">Các nhãn:
                                <i>Mỗi một nhãn ngăn cách bằng dấu (,)
                                    <br /> vd: Kinh dị,Phiêu lưu</i></label>
                            <div class="col-sm-10">
                                <input class="form-control inputTags" name="tags" id="inputTag"
                                    placeholder="Ví dụ: kinh dị, phiêu lưu" oninput="onSearchTag()">
                                <ul id="tag_suggests">
                                    <!--                                    <li class="tag_suggests__item">Kinh dị-->
                                    <!--                                        <label class="float-end clickToAddLabel">Chọn </label>-->
                                    <!--                                    </li>-->
                                    <!--                                    <li class="tag_suggests__item">Sinh tồn</li>-->
                                    <!--                                    <li class="tag_suggests__item">Kinh dị</li>-->

                                </ul>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputShortDescription" class="col-sm-2 col-form-label right__content__label">Mô
                                tả
                                ngắn <i>(Tối đa 200 từ)</i></label>
                            <div class="col-sm-10">
                                <textarea maxlength="200" class="form-control rounded-1" name="short-description"
                                    id="inputShortDescription" rows="4" placeholder="Mô tả ngắn về dự án"></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="inputLongDescription" class="col-sm-2 col-form-label right__content__label">Mô
                                tả
                                chi tiết</label>
                            <div class="col-sm-10">
                                <textarea class="form-control rounded-1" name="detail-description"
                                    id="inputLongDescription" rows="6" placeholder="Mô tả chi tiết"></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="selectRelease" class="col-sm-2 col-form-label right__content__label">Trạng thái
                                phát
                                hành</label>
                            <div class="col-sm-10">
                                <select name="releaseStatus" id="selectRelease" class="form-control rounded-1">
                                    <option value="ready">Sẵn sàng phát hành - Dự án đã hoàn thành</option>
                                    <option value="developing">Đang phát triển - Dự án đang phát triển hoặc truy cập sớm
                                    </option>
                                </select>

                            </div>
                            <label for="inputReleaseDate" class="col-sm-2 col-form-label right__content__label">Ngày
                                phát
                                hành:</label>
                            <div class="col-sm-10">
                                <div class="col-sm-10">
                                    <input type="date" class="form-control rounded-1" id="inputReleaseDate"
                                        name="releaseDate">
                                </div>

                            </div>
                        </div>
                        <div class="mb-3 row border-bottom">
                            <label class="col-sm-2 col-form-label right__content__label">Giá:</label>
                            <div class="col-sm-10">
                                <input value="free" type="radio" class="btn-check" name="options" id="option1"
                                    autocomplete="off" checked>
                                <label
                                    style="font-size: 14px; font-style: italic; vertical-align: middle; margin: 0 10px 0 0; font-weight: bold"
                                    class="btn pt-0 pb-0 ps-2 pe-2 btn-outline-success" for="option1">Miễn
                                    phí</label>

                                <input value="donate" type="radio" class="btn-check" name="options" id="option2"
                                    autocomplete="off">
                                <label
                                    style="font-size: 14px; font-style: italic; vertical-align: middle; margin: 0 10px 0 0; font-weight: bold"
                                    class="btn pt-0 pb-0 ps-2 pe-2 btn-outline-success" for="option2">Ủng hộ</label>

                                <input value="pay" type="radio" class="btn-check" name="options" id="option3"
                                    autocomplete="off">
                                <label
                                    style="font-size: 14px; font-style: italic; vertical-align: middle; margin: 0 10px 0 0; font-weight: bold"
                                    class="btn pt-0 pb-0 ps-2 pe-2 btn-outline-success" for="option3">Trả phí</label>
                            </div>

                        </div>
                        <div class="mb-3 row">
                            <label for="inputUploadFile" class="col-sm-2 col-form-label right__content__label">Tải
                                lên:</label>

                            <div class="col-sm-10">

                                <input multiple type="file" class="form-control rounded-1 fs-14px" id="inputUploadFile">


                            </div>
                        </div>
                        <div class="mb-5 row">
                            <label class="col-sm-2 col-form-label right__content__label">Hiển thị:</label>

                            <div class="col-12 ps-4 pe-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="visibility" id="flexRadioDraft"
                                        checked value="draft">
                                    <label class="form-check-label right__content__label" for="flexRadioDraft">
                                        Bản nháp - Chỉ có bạn mới có thể xem
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="visibility" id="flexRadioPublic"
                                        value="public">
                                    <label class="form-check-label right__content__label" for="flexRadioPublic">
                                        Công khai - Mọi người đều có thể xem
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="fst-italic col-12 mb-2 uploading_msg">1.
                                <span class="text-secondary">Đang tải
                                    lên
                                    ảnh
                                    bìa...</span>
                            </div>
                            <div class="fst-italic col-12 mb-2 uploading_msg">2.
                                <span class="text-secondary">Đang tải
                                    lên ảnh chụp màn hình..</span>
                            </div>
                            <div class="fst-italic col-12 mb-2 uploading_msg">3.
                                <span class="text-secondary">Đang tải
                                    lên tệp dự án...</span>
                            </div>


                        </div>

                        <div class="row">

                            <div class="col-12 mt-4">
                                {{!-- <button class="btn w-25 btn-sm btn-success" type="submit">Lưu và xem</button> --}}
                                <button type="submit" class="btn btn-primary" type="button">
                                    {{!-- <div class="spinner-border spinner-border-sm" role="status">
                                    </div> --}}
                                    Lưu và xem trước
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"
    integrity="sha256-qXBd/EfAdjOA2FGrGAG+b3YBn2tn5A6bhz+LSgYD96k=" crossorigin="anonymous"></script>
<script src="/javascripts/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    console.log(axios)
    function displaySelectedCoverImage(event, imgElementSelector) {
        const selectedImage = document.querySelector(imgElementSelector);
        const fileInput = event.target;

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.readAsDataURL(fileInput.files[0]); //chuyển ảnh thành url thành url

            reader.onload = function (e) {
                selectedImage.src = e.target.result;
            };
        }
    }
    function displaySelectedScreenshotImage(event) {
        //Bỏ thêm ảnh cũ vào trong
        let screenshotImageInput = document.getElementById('chooseScreenshotImages')
        let temp = [...screenshotUpload || []]
        screenshotUpload = [...temp, ...screenshotImageInput.files]
        const fileInput = event.target;
        console.log(fileInput.files)
        const arrayFile = Array.from(fileInput.files);
        const urlArray = [];
        // Sử dụng Promise để xử lý việc chuyển đổi ảnh thành URL
        const promises = arrayFile.map(file => {
            return new Promise((resolve, reject) => {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const imageUrl = e.target.result;

                    resolve({ imageUrl, file });
                };
                reader.onerror = function (error) {
                    reject(error);
                };
                reader.readAsDataURL(file);
            });
        });

        // Sử dụng Promise.all để đợi tất cả các tác vụ hoàn thành
        Promise.all(promises)
            .then((imageArray) => {
                // imageUrls là một mảng chứa các URL của ảnh
                //const { imageUrl } = imageObject

                console.log(imageArray)
                imageArray.forEach(object => {
                    console.log(object.file)
                    let divwrapper = document.createElement('div');
                    let deteletag = document.createElement('i');
                    let imagetag = document.createElement('img');

                    deteletag.classList.add('delete_image');
                    deteletag.classList.add('fa-solid')
                    deteletag.classList.add('fa-xmark')

                    imagetag.classList.add('screenshot');
                    imagetag.setAttribute('filename', object.file.name)
                    //imageTag.fileName =
                    deteletag.title = "Xoá ảnh"
                    deteletag.addEventListener('click', (e) => {
                        let parent = e.target.parentElement
                        let imageToDelete = parent.querySelector("img")
                        parent.remove();
                        removeImageFromFiles(screenshotUpload, imageToDelete.getAttribute('filename'))
                    })
                    divwrapper.classList.add('screenshot_wrapper')
                    imagetag.src = object.imageUrl;
                    divwrapper.appendChild(imagetag);
                    divwrapper.appendChild(deteletag);
                    document.querySelector(".target-screenshot-image").appendChild(divwrapper);
                })

            })
            .catch(error => {
                console.log('Error converting images to URLs:', error);
            });
    }
    const list = ["Kinh dị", "Sinh tồn", "Phiêu lưu", "Siêu khó"];
    const tagSuggests = document.getElementById('tag_suggests');

    //add tag in tag suggest element list
    list.map(element => {
        const tagSuggestsItem = document.createElement('li');
        tagSuggestsItem.classList.add('tag_suggests__item');
        tagSuggestsItem.innerHTML =
            `
                    ${element}
                    <label class="float-end clickToAddLabel">Chọn </label>
                `;
        tagSuggestsItem.addEventListener('click', () => {
            const inputTag = document.getElementById('inputTag')
                .value = element;
            tagSuggests.innerHTML = '';
        })
        console.log([tagSuggests])
        tagSuggests.appendChild(tagSuggestsItem);

    })

    function onSearchTag() {
        const inputTag = document.getElementById('inputTag');
        const filter = inputTag.value;

        tagSuggests.innerHTML = '';
        const isInList = list.map(element => {
            if (element.toLowerCase().includes(filter.toLowerCase())) {
                const tagSuggestsItem = document.createElement('li');
                tagSuggestsItem.classList.add('tag_suggests__item');
                tagSuggestsItem.innerHTML = `
                    ${element}
                    <label class="float-end clickToAddLabel">Chọn </label>
                `;
                tagSuggestsItem.addEventListener('click', () => {
                    inputTag.value = element;
                    tagSuggests.innerHTML = '';
                })
                console.log([tagSuggests])
                tagSuggests.appendChild(tagSuggestsItem);
                return true;
            }
            return false;
        })
        console.log(isInList)
        if (!isInList.includes(true)) {
            const tagSuggestsItem = document.createElement('li');
            tagSuggestsItem.classList.add('tag_suggests__item');
            tagSuggestsItem.innerHTML = `
                    ${filter}
                    <label class="float-end clickToAddLabel">Chọn </label>
                `;
            tagSuggestsItem.addEventListener('click', () => {
                inputTag.value = filter;
                tagSuggests.innerHTML = '';
            })
            tagSuggests.appendChild(tagSuggestsItem);
        }
    }

    //handle submit form
    const objectUpload = {
        cover: 'Ảnh bìa',
        screenshot: 'Ảnh chụp màn hình',
        project: 'File dự án'
    }
    const form = document.getElementById('upload_project_form');
    form.addEventListener("submit", async (event) => {
        event.preventDefault();

        //upload project file, cover image and screenshot
        await Promise.all([uploadCoverImage(), uploadScreenShot(), uploadProjectFile()])
            .then(value => {
                console.log(value)
            })

        //Submit form
        //form.submit();
    })
    // Xóa ảnh khỏi mảng files
    function removeImageFromFiles(files, deletedImageName) {
        console.log(files, deletedImageName)
        let arrayFile = Array.from(files)


        for (let i = 0; i < arrayFile.length; i++) {
            if (arrayFile[i].name === deletedImageName.trim()) {
                arrayFile.splice(i, 1)
                break;
            }
        }
        screenshotUpload = arrayFile
        //screenshotUpload = arrayFile.filter(obj => obj.name !== deletedImageName.trim());
    }
    let screenshotUpload
    async function uploadScreenShot() {

        let formDatas = new FormData()
        for (let i = 0; i < screenshotUpload.length; i++) {
            formDatas.append('photos', screenshotUpload[i]);
        }
        console.log(formDatas)
        fetch('/api/v1/upload-screenshot-image', {
            method: 'POST',
            body: formDatas,
        })
            .then(response => response.json())
            .then(res => console.log(res))
    }
    async function uploadCoverImage() {
        let coverImageInput = document.getElementById('chooseCoverImage');
        let image = coverImageInput.files[0];
        let formData = new FormData();
        return new Promise((resolve, reject) => {
            formData.append('coverImage', image);
            fetch('/api/v1/upload-cover-image', {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 200) resolve(data)
                    else resolve(
                        {
                            status: 400,
                            objectError: objectUpload.cover,
                            msg: `Tải lên ${objectUpload.cover} không thành công!`,
                            rsMsg: data
                        }
                    )
                })
                .catch(error => {
                    console.error('Error uploading images:', error);
                });
        })
    }
    async function uploadProjectFile() {

    }
</script>