.sale,
.new {
    position: absolute;
    top: 4px;
    left: 2px;
    padding: 4px;
    background-color: #F16262;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    text-decoration: none;
    font-style: italic;
    transition: background-color 0.3s ease;
}

.sale:hover {
    background-color: #C13E3E;
}

.sale-duration {
    top: 30px;
}

.project-item {
    transition: all 0.3s ease 0s;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.075);
}

.project-item .card-body {
    padding: 10px;
}

.project-item:hover {
    box-shadow: 2px 4px 8x 4px rgba(0, 0, 0, 0.075);
}

.project-item img {
    min-height: 180px;
}