.project-item {
    position: relative;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.075);
}


.viewCount,
.likeCount,
.visibility,
.sale {
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(222, 222, 222);
    font-size: 14px;
    text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
}

.viewCount {
    top: 30px;
}

.visibility {
    left: 10px;
}

.sale {
    text-shadow: none;
    font-size: 12px;
    top: 32px;
    left: 10px;
    right: auto;
}

.sale.sale-duration {
    top: 54px;
    right: auto;
}

.card-footer {
    position: relative;
    font-size: 14px;
}